{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row" id="main_Row">
    <div class="col-2 menu-sidebar" id="main_sidebar">
      {% include "menu.html" %}
    </div>
    <div class="col-7 main-container" id="main_container">

      <br>
      <h4>Dropzone</h4>

      <div>
        <form action="/add_biblio" class="dropzone" id="myAwesomeDropzone">
          {% csrf_token %}
          <div class="dz-message">
            Drop files here or click to upload.<br />
            <span class="note">(Please upload <strong>PDF</strong> files only.)</span>
          </div>

          <div class="fallback">
            <input name="file" type="file" multiple />
          </div>
          Select a folder: 
          <select id='dropzone-folder' name='dropzone_folder'>
            {% for path_i in paths %}
              <option value='{{ path_i.id }}'>{{ path_i.path }}</option>
            {% endfor %}
          </select>
        </form>
      </div>

      <span id="alertFileAdded"></span>

      <script type="text/javascript">

        Dropzone.autoDiscover = false;

        Dropzone.options.myAwesomeDropzone = {
            url: "/add_biblio",
            paramName: "file",
            // acceptedFiles: 'image/*,application/pdf',
            acceptedFiles: 'application/pdf',
            params: {
                
            },
            init: function() {
                this.on("addedfile", function(file) {
                  // console.log("Added file."); 
                }),
                this.on("success", function(file, response) {
                    console.log(response);
                    var countFileStore = response['countFileStore']
                    $("#alertFileAdded").html("<div class='alert alert-success' role='alert'>New file added! </div>");
                    $("#FileStore").html(countFileStore);

                })
            }
        }       

      $('#myAwesomeDropzone').dropzone();


      </script>

      <hr>

      <br>
      <h4>Manual entry (not working yet)</h4>

      <br>
      <ul class="list-group" id="details">


        <li class='list-group-item detail-li'> <span class="detail-names"> <i class="fas fa-folder"></i> &nbsp; Folder:</span> <span id="detail_folder"></span> </li> 
        <li class='list-group-item detail-li'> <span class="detail-names">Type:</span> <span id="detail_type"></span> </li> 
        <li class='list-group-item detail-li'> <span class="detail-names">Title:</span> <b> <span id="detail_title"></span> </b></li>
        <li class='list-group-item detail-li'> <span class="detail-names">Authors:</span> <span id="detail_authors"></span> </li> 
        <li class='list-group-item detail-li'> <span class="detail-names">Journal:</span> <span id="detail_journal"></span> </li> 
        <li class='list-group-item detail-li'> <span class="detail-names">Date:</span> <span id="detail_date"></span> </li> 
        <li class='list-group-item detail-li'> <span class="detail-names">Volume:</span> <span id="detail_volume"></span> </li>
          
        <li class='list-group-item detail-li'> <span class="detail-names">Issue:</span> <span id="detail_issue"></span> </li> 
        <li class='list-group-item detail-li'> <span class="detail-names">Pages:</span> <span id="detail_page"></span> </li> 
        <li class='list-group-item detail-li'> <span class="detail-names">Article number:</span> <span id="detail_artnumber"></span> </li> 
        <li class='list-group-item detail-li'> <span class="detail-names">DOI:</span> <span id="detail_doi"></span></li> 

      </ul>

    </div>
    
    <div class="col-3 detail-right" id="add_DOI">
     
      <br>   

      <h4>Add a DOI</h4>

      {% if isDOICreated %}
        <div class="alert alert-success" role="alert">
          The entry is created!
          <br>
          <br>
          Title: <b>{{ refs.0.getTitle }}</b>
          <br>
          Authors: {{ refs.0.getAuthors_list }}
          <br>
          Journal: {{ refs.0.getJournal }}
          <br>
          Date: {{ refs.0.getDate }}
        </div>
      {% endif %}
      {% if isDOIExist %}
        <div class="alert alert-warning" role="alert">
          The DOI already exists!
        </div>
      {% endif %}
      {% if isDOInotValid %}
        <div class="alert alert-danger" role="alert">
          Cannot retrive a database for this DOI! Check the DOI validity.
        </div>
      {% endif %}
      <form action="/add_biblio" method="post">
        {% csrf_token %}
        {{ form_doi.as_p }}
        <input type="submit" value="Submit">
      </form>

      <br>

      <div style="position: absolute; bottom: 10px; right: 20px;">Database from <a href="https://search.crossref.org/" target="_blank"><img style="height: 20px; margin-top: -5px; margin-left: 5px;" src="//assets.crossref.org/logo/crossref-logo-landscape-200.png"></a></div>

    </div>
  
  </div>
</div>
{%endblock%}

