{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row" id="main_Row">
    <div class="col-2 menu-sidebar" id="main_sidebar">
      {% include "menu.html" %}
    </div>
    <div class="col-7 main-container" id="main_container">
      
      <br>

      <div class="zone_filePDF">
        <embed src="{{ file_selected.file.url }}" width="100%" height="350px" />
      </div>


    </div>
    <div class="col-3 detail-right" id="main_detail">
        
      <br>

      <div class="table-responsive">
        <table width="400px" style="table-layout:fixed;" class="table table-bordered table-hover table-striped" id="table_checkBiblio">
          <thead class="table-header">
            <tr>             
              <th width="0px"></th>
              <th width="160px">Upload on</th>
              <th width="800px">File name</th>
              <th width="70px">Remove</th>
            </tr>
          </thead>
          <tbody>
          {% for file_i in file_to_sort %}
            <tr id="listToSort_{{ file_i.id }}" class="table-item {% if file_i.id == file_selected.id %} table-selected {% endif %} ">
              <td id="appadd">{{ file_i.id }}</td>
              <td id="appadd">{{ file_i.created_on }}</td>
              <td id="appadd">{{ file_i.file.name }}</td>
              <td id="appadd">
                <form action="/check_biblio" method="post">
                  {% csrf_token %}
                  <button name="del_toSort" value="{{ file_i.id }}"><span class='fas fa-trash-alt'></span></button>
                </form>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
{%endblock%}

