{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row" id="main_Row">
    <div class="col-2 menu-sidebar" id="main_sidebar">
      {% include "menu.html" %}
    </div>
    <div class="col-7 main-container" id="main_container">
      
      <br>

      <div>
        <embed src="{{ 'media/'|add:file_to_sort.0.file.name }}" width="100%" height="350px" />
      </div>


    </div>
    <div class="col-3 detail-right" id="main_detail">
        
      <br>

      <div class="table-responsive">
        <table width="400px" style="table-layout:fixed;" class="table table-bordered table-hover table-striped" id="tableList">
          <thead class="table-header">
            <tr>             
              <th width="150px">Upload on</th>
              <th width="800px">File name</th>
            </tr>
          </thead>
          <tbody>
          {% for file_i in file_to_sort %}
            <tr id="listToSort_{{ file_i.id }}" class="table-item">
              <td id="appadd">{{ file_i.created_on }}</td>
              <td id="appadd">{{ file_i.file.name }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
{%endblock%}

