
<li class='list-group-item'>id: <span id="detail_id"></span> </li> 
<li class='list-group-item'>Type: <span id="detail_type"></span> </li> 
<li class='list-group-item'>Title: <b> <span id="detail_title"></span> </b></li>
<li class='list-group-item'>Authors: <span id="detail_authors"></span> </li> 
<li class='list-group-item'>Journal: <span id="detail_journal"></span> </li> 
<li class='list-group-item'>Date: <span id="detail_date"></span> </li> 
<li class='list-group-item'>Volume: <span id="detail_volume"></span> </li>
  
<li class='list-group-item'>Issue: <span id="detail_issue"></span> </li> 
<li class='list-group-item'>Pages: <span id="detail_page"></span> </li> 
<li class='list-group-item'>Article number: <span id="detail_artnumbere"></span> </li> 
<li class='list-group-item'>DOI: <span id="detail_doi"></span></li> 
<li class='list-group-item'>  <span id="detail_badgedimension"></span> </li> 
<li class='list-group-item'>Folder: <span id="detail_folder"></span> </li>   
