{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row" id="main_Row">
    <div class="col-2 menu-sidebar" id="main_sidebar">
      {% include "menu.html" %}
    </div>
    <div class="col-10 main-container" id="main_container">

      <br>
      
      <h1>Informations</h1>

      <h5>Upcoming features</h5>

      <ul>
        <li>Optical character recognition (OCR) engine to read the title and other key data. </li>
        <li>Improved reference recognition from metadata</li>
        <li>Unified renaming management for files. Ex: Rename all files as Name_2021-Journal_Title.pdf</li>
        <li>Sorting system to filter the main list.</li>
        <li>Label system.</li>
        <li>User management to allows several users. Useful for institutions.</li>
        <li>Publication management, such as the number of citation, ...</li>
      </ul>

      <h5>Known bugs</h5>
        If you find bugs. Please report them on <a target="_blank" href="https://github.com/DamienMinenna/OldHara/issues">https://github.com/DamienMinenna/OldHara/issues</a>
    </div>
  </div>
</div>
{%endblock%}

