<br>

<div class="table-responsive">
  <table width="400px" style="table-layout:fixed;" class="table table-bordered table-hover table-striped" id="tableList">
    <thead class="table-header">
      <tr>
        <th width="0px"></th>
        <th width="50px">File</th>
        <th width="250px">Authors</th>
        <th width="450px">Title</th>
        <th width="90px">Date</th>
        <th width="300px">Journal</th>
      </tr>
    </thead>
    <tbody>
    {% for ref_i in refs %}
      <tr id="listRef_{{ ref_i.id }}" class="table-item">
        <td id="appadd">{{ ref_i.json_payload }} </td>
        <td id="appadd">
        {% if ref_i.mainFile %}
        <a type="button" href="{{ 'media/'|add:ref_i.file.name }}" target="_blank">
          <i class="far fa-file-pdf"></i>
        </a>
        {% endif %}
        </td>
        <td id="appadd">{{ ref_i.db.listauthor }}</td>
        <td id="appadd">{{ ref_i.db.title }}</td>
        <td id="appadd">{{ ref_i.db.dateY }}</td>
        <td id="appadd">{{ ref_i.db.journal }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<br>