<br>

<div class="table-responsive">
  <table width="400px" style="table-layout:fixed;" class="table table-bordered table-hover table-striped" id="tableList">
    <thead>
      <tr>
        <th width="0px"></th>
        <th width="40px">File</th>
        <th width="200px">Authors</th>
        <th width="350px">Title</th>
        <th width="70px">Date</th>
        <th width="200px">Journal</th>
        <th width="200px">test</th>
      </tr>
    </thead>
    <tbody>
    {% for ref_i in refs %}
      <tr id="listRef_{{ ref_i.id }}">
        <td id="appadd">{{ ref_i.json_payload }} </td>
        <!-- <td id="appadd">{{ ref_i }} </td> -->
        <td id="appadd">
        {% if ref_i.mainFile %}
        <a type="button" href="{{ "media/"|add:ref_i.mainFile.name }}" target="_blank">
          <i class="far fa-file-pdf"></i>
        </a>
        {% endif %}
        </td>
        <td id="appadd">{{ ref_i.getAuthors_list }}</td>
        <td id="appadd">{{ ref_i.getTitle }}</td>
        <td id="appadd">{{ ref_i.getDate }}</td>
        <td id="appadd">{{ ref_i.getJournal }}</td>
        <td id="appadd">{{ ref_i.data.status }} {{ ref_i.id }} </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
