<br>

<button type="button" class="btn btn-menu-add btn-sm text-center" data-toggle="modal" data-target="#ModaladdDOI">
  <span class="fas fa-file-upload"></span> &nbsp; Add new entry
</button>

<hr>

<h6 class="menu-accordion d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span class="title-sidebar">
    <i class="fas fa-folder"></i> &nbsp; Folders</span>
    <!-- <button type="button" class="btn btn-menu-sidebar btn-sm text-center" data-toggle="modal" data-target="#Modaladdfolder">
      <span class="fas fa-folder-plus"></span>
    </button> -->
</h6>

<div class="menu-panel" style="display: block;">
  <ul class="nav flex-column mb-2">
  {% for path_i in paths %}
  <li class="nav-item">
    <button type="button" class="btn btn-menu-folder btn-sm text-center">
      <span class="far fa-edit"></span>
    </button>
    <a class="text-sidebar" href="#">
      {{ path_i.path }}
    </a>
  </li>
  {% endfor %}
  </ul>
</div>

<button type="button" class="btn btn-menu-add btn-sm text-center" data-toggle="modal" data-target="#Modaladdfolder">
  <span class="fas fa-folder-plus"></span> &nbsp; Add new folder
</button>

<script type='text/javascript'>
  // Hide section of the menu 
  var acc = document.getElementsByClassName("menu-accordion");
  var i;
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        console.log('coucou')
        panel.style.display = "none";
      } else {
        console.log('couco2')
        panel.style.display = "block";
      }
    });
  }
</script>

<hr>

<h6 class="d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span class="title-sidebar">
    <i class="fas fa-cog"></i> &nbsp; Settings </span>
</h6>

<h6 class="d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span class="title-sidebar">
    <i class="fas fa-question-circle"></i> &nbsp; Help </span>
</h6>


<a class="btn btn-sidebar-bottom mx-2" href="https://github.com/DamienMinenna/" target="_blank"><i class="fab fa-github"></i></a>