<br>

<a type="button" class="btn btn-menu-add btn-sm text-center" href="/add_biblio">
  <span class="fas fa-file-upload"></span> &nbsp; Add entry
</a>

<hr>

<h6 class="menu-accordion d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span class="title-sidebar" id="menu-folder-name">
    <i class="fas fa-folder"></i> &nbsp; Folders</span>
    <button type="button" class="btn btn-menu-sidebar btn-sm text-center" data-toggle="modal" data-target="#Modaladdfolder">
      <span class="fas fa-folder-plus"></span>
    </button>
</h6>

<div class="menu-panel" style="display: block;" id="menu-folder-list">
  <ul class="nav flex-column mb-2">
  {% for path_i in paths %}
  <li class="nav-item">
    <button type="button" class="btn btn-menu-folder btn-sm text-center">
      <span class="far fa-edit"></span>
    </button>
    <a class="text-sidebar" href="#">
      {{ path_i.path }}
    </a>
  </li>
  {% endfor %}
  </ul>
</div>

<script type='text/javascript'>
  // Hide folder list
  document.getElementById("menu-folder-name").addEventListener("click", function() {
      this.classList.toggle("active");
      if (document.getElementById("menu-folder-list").style.display === "block") {
          document.getElementById("menu-folder-list").style.display = "none";
      } else {
          document.getElementById("menu-folder-list").style.display = "block";
      }
  });  
</script>

<hr>

<h6 class="d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span class="title-sidebar">
    <i class="fas fa-cog"></i> &nbsp; Settings </span>
</h6>

<h6 class="d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span class="title-sidebar">
    <i class="fas fa-question-circle"></i> &nbsp; Help </span>
</h6>



<br>
<br>
<br>
<br>
<div style="position: absolute; bottom: 10px; left: 20px;">
  Old Hara v0.5 <a class="btn btn-sidebar-bottom mx-2" href="https://github.com/DamienMinenna/OldHara" target="_blank"><i class="fab fa-github"></i></a>  
</div>

