<div class="modal fade" id="id-modal-info" tabindex="-1" role="dialog" aria-labelledby="modalinfoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalinfoLabel">Informations</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <h5>Upcoming features</h5>
    
          <ul>
            <li>Optical character recognition (OCR) engine to read the title and other key data. </li>
            <li>Improved reference recognition from metadata</li>
            <li>Unified renaming management for files. Ex: Rename all files as Name_2021-Journal_Title.pdf</li>
            <li>Sorting system to filter the main list.</li>
            <li>Label system.</li>
            <li>Personnal notes</li>
            <li>User management to allows several users. Useful for institutions.</li>
            <li>Publication management, such as the number of citation, ...</li>
          </ul>
    
          <h5>Known issues</h5>

          <ul>
            <li>Issue with CrossRef API if the ref is a book</li>
          </ul>

          <br>

          If you find bugs, please report them on <a target="_blank" href="https://github.com/DamienMinenna/OldHara/issues">https://github.com/DamienMinenna/OldHara/issues</a>

          <br>
          <br>
          <br>

          <div style="position: absolute; bottom: 10px; right: 20px;">Metadata from <a href="https://search.crossref.org/" target="_blank"><img style="height: 20px; margin-top: -5px; margin-left: 5px;" src="//assets.crossref.org/logo/crossref-logo-landscape-200.png"></a></div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>