<div id="id-data-selected-ref" style="display: none;">
  {{ selected_ref.data_text }}
</div>

<ul class="list-group" id="details">

  <li class='list-group-item detail-li'> <span id="detail_scan"></span> </li> 

  <li class='list-group-item detail-li'> <span class="detail-names">See file info: </span> <span id="detail_info"></span> </li> 

  <li class='list-group-item detail-li'> <span class="detail-names"> <i class="fas fa-folder"></i> &nbsp; Folder:</span> <span id="detail_folder"></span> </li> 
  <li class='list-group-item detail-li'> <span class="detail-names">Type:</span> <span id="detail_type"></span> </li> 
  <li class='list-group-item detail-li'> <span class="detail-names">Title:</span> <b> <span id="detail_title"></span> </b></li>
  <li class='list-group-item detail-li'> <span class="detail-names">Authors:</span> <span id="detail_authors"></span> </li> 
  <li class='list-group-item detail-li'> <span class="detail-names">Journal:</span> <span id="detail_journal"></span> </li> 
  <li class='list-group-item detail-li'> <span class="detail-names">Date:</span> <span id="detail_dateD"></span> <span id="detail_dateM"></span>  <span id="detail_dateY"></span> </li> 
  <li class='list-group-item detail-li'> <span class="detail-names">Volume:</span> <span id="detail_volume"></span> </li>
    
  <li class='list-group-item detail-li'> <span class="detail-names">Issue:</span> <span id="detail_issue"></span> </li> 
  <li class='list-group-item detail-li'> <span class="detail-names">Pages:</span> <span id="detail_page"></span> </li> 
  <li class='list-group-item detail-li'> <span class="detail-names">Article number:</span> <span id="detail_artnumber"></span> </li> 
  <li class='list-group-item detail-li'> <span class="detail-names">DOI:</span> <span id="detail_doi"></span></li> 
  <li class='list-group-item detail-li'>  <span id="detail_badgedimension"></span> </li>   
  <li class='list-group-item detail-li'>  <span class="detail-names"></span> <span id="detail_delete"></span> </li>   

</ul>
